/*
Globals
*/

body {
  margin: 0px;
  border-top: 8px solid #D64292;
  font-family: 'Raleway', sans-serif;
}

.wrapper {
  padding: 60px 40px 0px;
  max-width: 700px;
  margin: 0 auto;
}

.love {
  padding-bottom: 60px;
  padding-top: 40px;
  color: #aaa;
  font-weight: 200;
  text-align: center;
  margin: 0 auto;
}

.load-more {
  padding-top: 40px;
  padding-bottom: 60px;
  font-size: 16px;
  color: #aaa;
  font-weight: 500;
  text-align: center;
  margin: 0 auto;
}

.load-more button {
  font-size: 16px;
  font-weight: bold;
  color: #D64292;
  background:none;
  border:none;
  margin:0;
  padding:0;
  cursor: pointer;
}

.load-more button:hover {
  text-decoration: underline;
}

.purple {
  color: #D64292;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: #D64292;
}

hr {
  margin-top: 40px;
  margin-bottom: 40px;
  width: 80%;
  border: 1px solid #eee;
}
