/*
 Talks Page
*/

.talk-list {
  max-width: 600px;
  margin: 0 auto;
}

.talk-list__talk {
  border-radius: 2px;
  margin-top: 40px;
  display: flex;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.talk-list__talk:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.talk-list__talk__map {
  flex: 1;
}

.talk-list__talk__content {
  padding: 20px;
  flex: 3;
}

.talk-list__talk__content p {
  margin-top: 0px;
  margin-bottom: 15px;
}

.talk-list__talk__content__name {
  font-weight: 200;
  font-size: 24px;
}

.talk-list__talk__content__name--cancelled {
  text-decoration: line-through;
}

.cancelled {
  font-weight: 200;
  font-size: 24px;
  color: red;
  text-decoration: none;
}

.talk-list__talk__content__event {
  font-weight: 200;
  color: #222;
  font-size: 18px;
}

.light {
  color: #aaa;
}
